.Campo{
	background-color: black;
    color: white;
    margin: 3rem 200px;
    float: left;
  	padding: 1rem;
  	border: 1px solid ;
  	/* IMPORTANTE */
  	text-align: revert;
	font: bolder;
	width: 700px;
}
.pic {
    margin-right: 2px;
}
 
.barsearch {
     
    width: 500px;
    height: 50px;
}

.barsearchbutton {
   
}
.menuBarra{
    
	background-color: black;
	display: flex;
    height: 100px;
}
.menuIcon{
    margin: 22px;
    height: 60px
}
.lupa{
    height: 52px;
    float: left;
}
.logo{
    height: 65px;
    float: right;
    margin-left: 10rem;
}
#elementosDer{
    margin-top: 25px;
    margin-left: 100px;
    
}
#elementosIz{
   margin-top: 15px;
    
   width: 560px;
   display: flex;
}
#pnlCreditCard{
    margin 1rem;
    margin-left: 150px;
    margin-top: 50px;
}
body {
  background-color: rgba(155,155,0,0.6);
}
.ui-sidebar{
    background-color: black;
    color: white;
}
.g-recaptcha{
    float: right;
    margin: 30px 100px;
}
.btnRegistro{
    float: right;
    margin-right: 50px;
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
}
.Titulo{
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-style: oblique;
}
.nombreCorp{
    height: 70px;
    margin-top: 5px;
}
#j_idt6\:comoCliente{
    margin-left: 250px;
    margin: 6.5rem; 
}
#j_idt6\:comoVendedor{
    margin-left: 250px;
}
#j_idt6\:imgCliente{
    height: 250px;
}
#j_idt6\:imgVendedor{
    height: 250px;
}
.Iconos{
    display: block;
    height: 200px;
    width : 150px;
    margin-left: auto;
    margin-right: auto;
}
.tablaProductos{
    margin-left: 50px;
    border-spacing: 50px;
   
     
}
#columnaTabla{
    background-color: black;
    padding: 0 50px
}
#price{
    color: white;
    text-align: center;
}
.imgMujer{
    width: 250px;
    height: 300px;
    margin-left: 85px
}
.imgHombre{
    width: 300px;
    height: 300px;
    
}
.imgNiños{
    height: 300px;
    width: 420px
}
.imgVestimenta{
    height: 300px;
    margin-left: 105px;
}
.imgHogar{
    height: 300px;
    margin-left: 20px;
}
.imgTecnologia{
    height: 300px;
    width: 420px
}
.imgMascotas{
    height: 300px;
    width: 420px;
}
.imgDeportes{
    height: 300px;
    width: 380px;
}
.imgOtros{
    height: 300px;
    margin-left: 80px
}
#btnLindos{
   float: right;
    margin-right: 50px;
    width: 200px;
    height: 50px;
    color: white;
    background-color: black; 
}
.CampoPerfil{
    margin-top: 200px;
    margin-left: 250px;
    background-color: black;
    color: white;
    position: absolute;
}
.btnEditar{
    float: right;
    margin-right: 150px;
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
}