.Campo{
	background-color: black;
    color: white;
    margin: 3rem 200px;
    float: left;
  	padding: 1rem;
  	border: 1px solid yellow;
  	/* IMPORTANTE */
  	text-align: revert;
	font: bolder;
	width: 700px;
}
.pic {
    margin-right: 2px;
}
 
.barsearch {
     
    width: 500px;
    height: 50px;
}

.barsearchbutton {
   
}
.menuBarra{
    
	background-color: black;
	display: flex;
    height: 100px;
}
.menuIcon{
    margin: 22px;
    height: 60px
}
.lupa{
    height: 52px;
    float: left;
}
.logo{
    height: 65px;
    float: right;
    margin-left: 10rem;
}
#elementosDer{
    margin-top: 25px;
    margin-left: 100px;
    
}
#elementosIz{
   margin-top: 15px;
    
   width: 560px;
   display: flex;
}
#pnlCreditCard{
    margin 1rem;
    margin-left: 150px;
    margin-top: 50px;
}
body {
  background-color: rgba(155,155,0,0.6);
}
.ui-sidebar{
    background-color: black;
    color: white;
}
.g-recaptcha{
    float: right;
    margin: 30px 100px;
}
.btnRegistro{
    float: right;
    margin-right: 50px;
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
}
.Titulo{
    margin-left: 550px;
    margin-top: 105px;
    font-style: oblique;
}
.nombreCorp{
    height: 70px;
    margin-top: 5px;
}
#j_idt6\:comoCliente{
    margin-left: 250px;
}
#j_idt6\:comoVendedor{
    margin-left: 250px;
}
#j_idt6\:imgCliente{
    height: 300px;
}
#j_idt6\:imgVendedor{
    height: 250px;
}